.container{
    padding: 12px;
    display: flex;
    gap: 10px;
    border-radius: 0.62rem;
    align-items: center;
}

.active{
    background-color: var(--secondary-purple-light);
    color: var(--primary-purple);
}

.activeImg{
    fill: #78258d;
    stroke: #78258d;
}