.container{
    min-height: 100vh;
}

.titleContainer{
    margin-top: 100px;
}

.btn{
    margin-top: 50px;
    max-width: 200px;
}

.inputsContainer{
    max-width: 500px;
}

.hiddenInput{
    display: none;
}